.App {
  margin: auto;
  border-radius: 10px;
  max-width: 750px;
  padding: 30px;
}

body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  margin: 15px;
  margin-bottom: 12%;
}

div .weekly-forecast {
  text-align: center;
}

h3 {
  font-size: 20px;
}

.container {
  border-radius: 10px;
  max-width: 750px;
  padding: 30px;
}

.future-weather-icons {
  padding: 25px 25px 0px 25px;
}

.card-text {
  color: #212529;
  font-size: 20px;
}

#forecast-min {
  color: #6e88a1;
}
