header,
h1,
div .logo-image,
div .today .temp,
.container {
  margin: auto;
}

header {
  text-align: center;
  padding: 0 0 10px 0;
}

h1 {
  font-size: 60px;
  max-width: 400px;
  padding-bottom: 25px;
}

.eye {
  max-width: 92%;
}

.sky {
  font-size: 95px;
}
