.search-city,
.location-entered {
  font-size: 17px;
  margin: auto;
  padding: 6px 6px 4px 9px;
  max-width: 57%;
}

.search-city {
  border: 0;
  border-radius: 3px;
}

.location-displayed {
  margin: auto;
  font-size: 45px;
  padding: 10px 0px 25px 0px;
  text-align: center;
}
